body {
    background: #cceeee;
}
#canvasPanel {
    background:#fff;
}
.dot{
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #91e600;
	border-radius: 50%;
	visibility:hidden;
}