.homepage {
    background-image: -ms-linear-gradient(top, #98FB98 0%, #C2F3C9 25%, #A8EEB0 80%, #DCF8DF 100%);
}

img {
    height: 100%;
}

.homepage section[role=main] {
	-ms-grid-row:1;
	-ms-grid-row-span:2;
}

#newLayerFlyout {
    display: -ms-grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
}

    #newLayerFlyout #widthDiv {
        -ms-grid-row: 2;
    }

    #newLayerFlyout #heightDiv {
        -ms-grid-row: 3;
    }

    #newLayerFlyout .newLayerButton {
        -ms-grid-row: 4;
    }

#colorPicker {
    display: -ms-grid;
    -ms-grid-rows: 5px 256px 1fr auto 5px;
    -ms-grid-columns: 5px 1fr 5px;
}

    #colorPicker #colorPanel {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        border: 1px solid #ccc;
        box-shadow: -1px -1px #ddd;
    }

    #colorPicker #colorRefiner {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        margin-left: 266px;
        -ms-grid-column-align: start;
        width: 20px;
        height: 256px;  
         border: 1px solid #ccc;
        box-shadow: -1px -1px #ddd;     
    }

    #colorPicker #indicator {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        width: 7px;
        height: 13px;
        margin-top: 128px;
        margin-left: 287px;
        background-image: url('/images/indicator.png');
        -ms-grid-column-align: start;
    }


    #colorPicker #detailPart {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
        -ms-grid-rows: 1fr 1fr 1fr;
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 5px;
        display: -ms-grid;
        width: 100%;
        height: 100%;       
    } 
    
     #colorPicker #detailPart #colorDisplayer {
        width: 60px;
        height: 25px;
        border: 1px solid black;
        box-shadow: 1px 1px 1px #ddd;
    }
#colorPicker #detailPart input {
    width: 40px;    
    height: 28px;
}
#colorPicker #detailPart #hueLabel {
        -ms-grid-column: 2;
    }
#colorPicker #detailPart #satLabel {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
#colorPicker #detailPart #lumLabel {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
#colorPicker #detailPart #redLabel {
        -ms-grid-column: 4;
    }
#colorPicker #detailPart #greenLabel {
        -ms-grid-row: 2;
        -ms-grid-column: 4;
    }
#colorPicker #detailPart #blueLabel {
        -ms-grid-row: 3;
        -ms-grid-column: 4;
    }

#colorPicker #detailPart #hueValue {
        -ms-grid-column: 3;
    }
#colorPicker #detailPart #satValue {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
#colorPicker #detailPart #lumValue {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
#colorPicker #detailPart #redValue {
        -ms-grid-column: 5;
    }
#colorPicker #detailPart #greenValue {
        -ms-grid-row: 2;
        -ms-grid-column: 5;
    }
#colorPicker #detailPart #blueValue {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }

    #colorPicker #addColor {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
        -ms-grid-column-align: start;
        width: 85px;
        height: 25px;
    }

.homepage #ribbonBar {
    height: 120px;
	position:absolute;
    -ms-grid-rows: auto 1fr;
    display: -ms-grid;
    background-image: -ms-linear-gradient(top, #DCF8DF 0%, #C2F3C9 25%, #A8EEB0 80%, #98FB98 100%);
    -ms-grid-column-span: 3;
    margin-bottom: 2px;
    border-bottom: 2px solid #dddddd;
    -ms-grid-columns: auto auto auto auto 1fr;
    width: 80%;
}

    .homepage #ribbonBar #titleDiv {
        display: block;
        -ms-grid-column-align: stretch;
        text-align: center;
        -ms-grid-column-span: 5;
        font-size: 19px;
        margin-left: 140px;
        background-image: -ms-linear-gradient(top, #800000 0%, #DB1620 5%, #DB111C 95%, #800000 100%);
        width: calc(100% - 140px);
    }

    .homepage #ribbonBar #Process {
        background-image: -ms-linear-gradient(top, #C8E5DF 0%, #B7E0C9 25%, #A0D0B0 80%, #90D898 96%, #008000 100%);
        border-top-left-radius: 15px;
        width: 140px;
        border: 1px solid green;
        transition: background-image ease-in 0.5s;
    }

        .homepage #ribbonBar #Process:hover {
            background-image: -ms-linear-gradient(top, #DCF8DF 0%, #C2F3C9 25%, #A8EEB0 80%, #98FB98 100%);
            outline: 2px #A8EEB0 solid;
        }

    .homepage #ribbonBar #toolContainer {
        display: block;
        -ms-grid-column-align: stretch;
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        max-width: 400px;
        border-right: 1px solid black;
        border-bottom-right-radius: 10px;
        width: 100px;
        overflow: hidden;
        transition: width 0.5s;
    }

    .homepage #ribbonBar .button {
        background-image: -ms-linear-gradient(top, #C8E5DF 0%, #B7E0C9 25%, #A0D0B0 80%, #90D898 96%, #008000 100%);
        border-radius: 10px;
        float: left;
        max-width: 95px;
        display: block;
        height: 27px;
    }

        .homepage #ribbonBar .button:hover {
            background-image: -ms-linear-gradient(top, #DCF8DF 0%, #C2F3C9 25%, #A8EEB0 80%, #98FB98 100%);
            outline: 2px #A8EEB0 solid;
        }

    .homepage #ribbonBar #toolContainer:hover {
        width: 100%;
        overflow: auto;
    }

    .homepage #ribbonBar #effectContainer {
        display: block;
        -ms-grid-column-align: stretch;
        -ms-grid-row: 2;
        -ms-grid-column: 3;
        border-right: 1px solid black;
        border-bottom-right-radius: 10px;
        width: 100px;
        overflow: hidden;
        transition: width 0.5s;
    }

        .homepage #ribbonBar #effectContainer:hover {
            width: 100%;
            overflow: auto;
        }

    .homepage #ribbonBar #shapeContainer {
        display: block;
        -ms-grid-column: 4;
        -ms-grid-column-align: stretch;
        -ms-grid-row: 2;
        border-right: 1px solid black;
        border-bottom-right-radius: 10px;
        width: 100px;
        overflow: hidden;
        transition: width 0.5s;
    }

        .homepage #ribbonBar #shapeContainer:hover {
            width: 100%;
            overflow: auto;
        }

    .homepage #ribbonBar #colorContainer {
        display: -ms-grid;
        -ms-grid-column-align: stretch;
        -ms-grid-row: 2;
        border-right: 1px solid black;
        -ms-grid-columns: 50px 1fr auto;
        -ms-grid-rows: 1fr;
        border-bottom-right-radius: 10px;
        width: 100%;
    }

        .homepage #ribbonBar #colorContainer #color1 {
            display: block;
            -ms-grid-column-align: start;
            margin: 5px;
            border: 1px solid black;
            background-color: black;
            border-radius: 3px;
            width: 23px;
            height: 23px;
        }

        .homepage #ribbonBar #colorContainer #color2 {
            display: block;
            -ms-grid-column-align: end;
            -ms-grid-row-align: end;
            margin-bottom: 50px;
            margin-right: 5px;
            background-color: white;
            border: 1px solid black;
            border-radius: 3px;
            width: 23px;
            height: 23px;
        }

        .homepage #ribbonBar #colorContainer #customColor {
            display: block;
            -ms-grid-column-align: center;
            -ms-grid-row-align: end;
            margin: 5px;
            background-image: url('/images/color.png');
            background-repeat: no-repeat;
            border: 1px solid black;
            border-radius: 3px;
            width: 23px;
            height: 23px;
        }

        .homepage #ribbonBar #colorContainer #colorsDiv {
            -ms-grid-column: 2;
            border-left: 1px solid black;
            border-radius: 3px;
            width: 100%;
            min-width: 100px;
            height: 100%;
        }

            .homepage #ribbonBar #colorContainer #colorsDiv #colorItem {
                display: block;
                border: 1px solid black;
                border-radius: 3px;
                width: 20px;
                height: 20px;
            }

.homepage #editorScreen {
    border: 1px solid #A0D0B0;
    height: 100%;
    margin: 1px;
    -ms-grid-columns: 1fr auto;
	-ms-grid-rows: 1fr;
    display: -ms-grid;
    width: 100%;
}

    .homepage #editorScreen #subRightPanel {
        height: 100%;
        -ms-grid-column: 2;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 30px 1fr;
        background-image: url('/images/right_panel_background.jpg');
        background-size: 100% 100%;
        display: -ms-grid;
        width: 250px;
    }

        .homepage #editorScreen #subRightPanel #upButton {
            border: 1px solid #A0D0B0;
            height: 100%;
            -ms-grid-column-align: end;
            background-color: #bbb;
            width: 30%;
        }

        .homepage #editorScreen #subRightPanel #downButton {
            border: 1px solid #A0D0B0;
            height: 100%;
            -ms-grid-column-align: start;
            background-color: #bbb;
            width: 30%;
        }

        .homepage #editorScreen #subRightPanel #layersContainer {
            height: 100%;
            -ms-grid-row: 2;
            z-index: 999;
            overflow-y: scroll;
            width: 250px;
        }
 
            .homepage #editorScreen #subRightPanel #layersContainer #layerItem {
                height: 150px;
                background-image: url('/images/paper_note_with_clipper_selected.jpg');
                background-size: calc(100% - 40px) 100%;
                display: -ms-grid;
                -ms-grid-columns: 100px 1fr 1fr 1fr;
                -ms-grid-rows: 20px 1fr 1fr 20px;
                width: 250px;                
            }

                .homepage #editorScreen #subRightPanel #layersContainer #layerItem #layer {
                    height: 90%;
                    -ms-grid-row-align: center;
                    -ms-grid-column-align: center;
                    -ms-grid-row-span: 3;
                    width: 90%;
                }

                .homepage #editorScreen #subRightPanel #layersContainer #layerItem #name {
					-ms-grid-row: 4;
                    text-align: center;
                    width: 100%;
                }

                .homepage #editorScreen #subRightPanel #layersContainer #layerItem #visibilityLayer {
                    border: 1px solid #A0D0B0;
                    height: 27px;
                    width: 27px;
                    border-radius: 10px;
                    -ms-grid-column: 2;
                    -ms-grid-row: 2;
                }

                .homepage #editorScreen #subRightPanel #layersContainer #layerItem #deleteLayer {
                    border: 1px solid #A0D0B0;
                    height: 27px;
                    width: 27px;
                    border-radius: 10px;
                    -ms-grid-column: 3;
                    -ms-grid-row: 2;
                }

    .homepage #editorScreen #mainScreen {
        height: 100%;
        display: -ms-grid;
        overflow: scroll;
        z-index: 10000;
        background-image: url('/images/cork_board_background.jpg');
        background-size: 100% 100%;
        scrollbar-3dlight-color: #B7E0ee;
        scrollbar-shadow-color: #A0D0B0;
        scrollbar-base-color: #eeD0B0;
        width: 100%;
    }

        .homepage #editorScreen #mainScreen #borderHandler {
            border: 1px dashed #3399FF;
            height: 100px;
            display: -ms-grid;
            visibility: collapse;
            z-index: 10000;            
            -ms-grid-columns: 1fr 10fr 1fr;
            -ms-grid-rows: 1fr 10fr 1fr;
            width: 100px;
        }

            .homepage #editorScreen #mainScreen #borderHandler .corner {
                background-image: url('/images/borderCorner.jpg');
                background-repeat: no-repeat;
            }

            .homepage #editorScreen #mainScreen #borderHandler .tlCorner {
                height: 100%;
                cursor: nw-resize;
                width: 100%;
                max-height: 20px;
                max-width: 20px;
                background-position: left top;
                margin-top: -3px;
                margin-left: -3px;
            }

            .homepage #editorScreen #mainScreen #borderHandler .trCorner {
                height: 100%;
                -ms-grid-column: 3;
                cursor: ne-resize;
                width: 100%;
                 max-height: 20px;
                max-width: 20px;
                background-position: right top;
                margin-top: -3px;
                margin-left: 3px;
            }

            .homepage #editorScreen #mainScreen #borderHandler .lCorner {
                height: 100%;
                -ms-grid-row: 2;
                width: 100%;
                max-width: 20px;
                cursor: w-resize;
                background-position: left;
                margin-left: -3px;
            }

            .homepage #editorScreen #mainScreen #borderHandler .tCorner {
                height: 100%;
                -ms-grid-column: 2;
                width: 100%;
                max-height: 20px;
                cursor: n-resize;
                background-position: top;
                margin-top: -3px;
            }

            .homepage #editorScreen #mainScreen #borderHandler .rCorner {
                height: 100%;
                max-width: 20px;
                -ms-grid-column: 3;
                -ms-grid-row: 2;
                width: 100%;
                cursor: e-resize;
                background-position: right;
                margin-left: 3px;
            }

            .homepage #editorScreen #mainScreen #borderHandler .blCorner {
                max-height: 20px;
                max-width: 20px;
                height: 100%;
                -ms-grid-row: 3;
                width: 100%;
                cursor: sw-resize;
                background-position: left bottom;
                margin-top: 3px;
                margin-left: -3px;
            }

            .homepage #editorScreen #mainScreen #borderHandler .brCorner {
                max-height: 20px;
                max-width: 20px;
                height: 100%;
                -ms-grid-row: 3;
                -ms-grid-column: 3;
                width: 100%;
                cursor: se-resize;
                background-position: bottom right;
                margin-top: 3px;
                margin-left: 3px;
            }

            .homepage #editorScreen #mainScreen #borderHandler .bCorner {
                max-height: 20px;
                height: 100%;
                -ms-grid-row: 3;
                -ms-grid-column: 2;
                width: 100%;
                cursor: s-resize;
                background-position: bottom;
                margin-top: 3px;
            }
        /*.homepage #editorScreen #mainScreen #displayCanvas {
            background-color: transparent;
            border: 1px solid #000;
            box-shadow: 3px 3px 6px #888;
        }*/

        .homepage #editorScreen #mainScreen #backgroundCanvas {
            background-color: transparent;
            border: 1px solid #000;
            visibility: hidden;
            box-shadow: 3px 3px 6px #888;
            z-index: -1;
        }

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}
