<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="money.Tracker.presentation.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name="money.Tracker.presentation.PfmApplication"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScheduleDetailViewActivity" />
        <activity android:name=".TabViewActivity" />
        <activity android:name=".MainViewActivity" />
        <activity android:name=".ScheduleEditActivity" />
        <activity android:name=".SyncSettingActivity" />
        <activity android:name=".EntryEditActivity" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".EntryDetailViewActivity" />
        <activity android:name=".BorrowLendMainViewActivity" />
        <activity android:name=".BorrowViewActivity" />
        <activity android:name=".LendViewActivity" />
        <activity android:name=".BorrowLendInsertActivity" />
        <activity android:name=".BorrowLendViewActivity" />
        <activity android:name=".BorrowLendViewDetailActivity" />
        <activity android:name=".ReportMainViewActivity" />
        <activity android:name=".ReportViewActivity" />
        <activity android:name=".ReportViewDetailActivity" />
        <activity android:name=".ReportMainViewDetailActivity" />
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity android:name=".ReportChartActivity" />
        <activity
            android:name="jim.h.common.android.lib.zxing.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="money.Tracker.unittests.PfmInstrumentationTestRuner"
        android:targetPackage="money.Tracker.presentation.activities" />

</manifest>